// ========================================
// c-form-carte
// ========================================

$form-carte-transition: 0.5s ease;

.c-form-carte {
	position: relative;
	z-index: $zindex-map + 1;
	display: flex;
	padding: $spacing-unit-tiny;
	background-color: $color-bg-form-carte;
	pointer-events: auto;
}

.c-form-carte__libre {
	display: flex;
	flex: 1;
}

.c-form-carte__label {
	position: relative;
}

.c-form-carte__icon-search {
	position: absolute;
	left: (3/16) * 1rem;
	top: (3/16) * 1rem;

	> .o-icon-search {
		fill: $color-gray-100;
	}
}

.c-form-carte__input {
	background-color: $color-form-carte;
	color: $color-form-text;
	text-indent: 28px;
	transition: background-color $form-carte-transition;

	&:focus {
		background-color: $color-hover-form-carte-color;
	}
}

.c-form-carte__options {
	display: flex;
	margin-left: $spacing-unit-small;
	flex: 0;
}

.c-form-carte__btnOpt {
	padding: 0 $spacing-unit-small;
	height: 100%;
	background-color: $color-form-carte;
	transition: background-color $form-carte-transition;

	> .o-icon-options {
		fill: $color-gray-900;
		transition: fill $form-carte-transition;

		circle {
			fill: $color-gray-700;
			transition: fill $form-carte-transition;
		}
	}

	&:hover,
	&:focus {
		background-color: $color-hover-form-carte-color;

		> .o-icon-options {
			fill: $color-gray-700;

			circle {
				fill: $color-form-text;
			}
		}
	}
}
