.map-SearchScroll_Gradrient {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 90%;
	background-color: $color-white;
	background: linear-gradient(
		90deg,
		rgba($color-white, 0.3) 0%,
		rgba($color-white, 1) 100%
	);
}

.map-SearchScroll_Scrollbar {
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	height: $scrollbar-height;
	background-color: $color-gray-700;
	opacity: 0.2;
}

.map-SearchScroll_ScrollbarFill {
	position: absolute;
	left: 0;
	bottom: 0;
	height: $scrollbar-height;
	background-color: $color-gray-700;
}

// TEST
// .scrollwrapper {
// 	margin-top: 24px;
// }
// ::-webkit-scrollbar {
// 	display: none;
// }
// * {
// 	-ms-overflow-style: none;
// 	-webkit-overflow-scrolling: touch; /* Touch scroll by default */
// }
// .native_scroll_container {
// 	width: 500px;
// 	height: 200px;
// 	// A retirer via js sinon FOUC
// 	// overflow-y: scroll;
// }
//
// .Scrollable {
// 	position: relative;
// 	height: 100%;
// 	width: 100%;
// 	overflow: visible;
// }
//
// .Scrollable > .Scrollable__scrollbar {
// 	opacity: 0.2;
// }
//
// .Scrollable > .Scrollable__scrollbar-fill {
// 	opacity: 0.5;
// }
//
// .Scrollable__scrollbar {
// 	opacity: 0;
// 	z-index: 1;
// 	position: absolute;
// 	right: 0;
// 	top: 0;
// 	bottom: 0;
// 	width: 5px;
// 	background: #aaa;
// }
//
// .Scrollable__scrollbar-fill {
// 	opacity: 0;
// 	z-index: 2;
// 	position: absolute;
// 	right: 0;
// 	top: 0;
// 	width: 5px;
// 	background: #aaa;
// }
//
// .Scrollable__scrollable {
// 	box-sizing: content-box;
// 	width: 100%;
// 	height: 100%;
// 	overflow-y: scroll;
// 	overflow-x: hidden;
// 	-webkit-overflow-scrolling: touch;
// 	scrollbar-width: none;
// }
