// ========================================
// map-Categories
// ========================================

.map-SearchCategories {
	overflow-y: hidden;
	overflow-x: auto;
}

.map-SearchCategories_Content {
	display: flex;
	float: left;
	// width: min-content;
}

.map-SearchCategories_Columns {
	padding: 0 $spacing-unit-tiny;
}

.map-SearchCategory {
	display: block;
	margin: $spacing-unit-tiny 0;
	@include font-size(14px, $modifier: -1);
	white-space: nowrap;
}
