// ========================================
// mp-Tabs
// ========================================

.mp-Tabs_Head {
  display: flex;
  margin: 0;
  // padding: $spacing-unit-tiny $spacing-unit 0 $spacing-unit-small;
  // color: $color-gray-800;
}

.mp-Tab_Header {
}

.mp-Tab_HeaderBtn {
  position: relative;
  padding: $spacing-unit-tiny $spacing-unit-small;
  color: $color-map-tab-header;
  text-transform: uppercase;
  @include font-size(14px, $modifier: -2);
  font-weight: bold;
  transition: color 0.3s ease;

  &::before {
    position: absolute;
    top: $spacing-unit-tiny;
    left: 0;
    content: "";
    display: inline-block;
    height: calc(100% - #{$spacing-unit-small});
    width: (1 / 16) * 1rem;
    margin-right: $spacing-unit-tiny;
    vertical-align: bottom;
    background-color: $color-map-search-separateur;
  }

  &:first-child {
    padding-left: 0;
    &::before {
      display: none;
    }
  }

  &:hover {
    color: $color-map-tab-header-hover;
  }

  &[aria-selected="true"] {
    color: $color-map-tab-header-active;
  }
}

.mp-Tabs_Body {
}

.mp-Tab_Content {
  padding-bottom: $spacing-unit-small;
  animation-duration: 0.3s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: 1;
  animation-name: toggleTabs;

  &-Scrollable {
    padding-bottom: 0;
    position: relative;
  }

  &[aria-hidden="true"] {
    display: none;
  }

  &[aria-hidden="false"] {
    display: block;
  }
}

@keyframes toggleTabs {
  from {
    opacity: 0;
    transform: translateY(5%);
  }
  to {
    opacity: 1;
    transform: translateY(0%);
  }
}
