// ========================================
// mp-Scroll
// ========================================

.mp-Scroll {
  overflow-y: hidden;
  overflow-x: scroll;
  padding-bottom: $spacing-unit-small;
}

.mp-Scroll_Content {
  display: flex;
  float: left;
}

.mp-Scroll_Col {
  padding: 0 $spacing-unit-tiny $spacing-unit-tiny;
}

// .mp-Scroll_Gradient {
//   position: absolute;
//   top: 0;
//   right: 0;
//   bottom: 0;
//   left: 90%;
//   background-color: $color-white;
//   background: linear-gradient(
//     90deg,
//     rgba($color-map-search-bg, 0) 30%,
//     rgba(scale-color($color-map-search-bg, $lightness: -40%), 1) 100%
//   );
// }

.mp-Scroll_Scrollbar {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: $scrollbar-height;
  background-color: $color-map-scrollbar;
  // opacity: 0.2;
}

.mp-Scroll_ScrollbarFill {
  position: absolute;
  left: 0;
  bottom: 0;
  height: $scrollbar-height;
  background-color: $color-map-scrollbarfill;
  cursor: grab;
}
