// ========================================
// mp-Categories
// ========================================

.mp-Categories {
}

.mp-Category {
  position: relative;
  display: block;
  margin: $spacing-unit-tiny 0;
  padding-left: $spacing-unit-small;
  @include font-size(14px, $modifier: -1);
  white-space: nowrap;
  cursor: pointer;

  &::before {
    position: absolute;
    left: 0;
    top: ((14/16) / 2) * 1rem;
    content: "";
    width: 8px;
    height: 8px;
    border-radius: 100%;
    background-color: $color-black;
  }
}
