// ========================================
// mp-MapSearchForm
// ========================================

// ---------------- mp-MapSearchForm ---------------- //

.mp-MapSearchForm {
  position: relative;
  // min-height: 30px;
  z-index: $zindex-map-search;
  // overflow: hidden;
  background-color: $color-map-search-bg;
  box-shadow: 0 0 0.5rem rgba($color-black, 0.5);
  // transition: height 0.2s ease;
}

// ---------------- mp-MapSearchForm_TriggerAdvanced ---------------- //

.mp-MapSearchForm_TriggerAdvanced {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: $spacing-unit-tiny;
  z-index: $zindex-map-search + 3;
  height: 30px;
  width: 30px;
  padding: $spacing-unit-tiny;

  &::after {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    border-right: 1px solid $color-map-search-bg-dark;
    content: "";
  }

  &:hover {
    .mp-MapSearchForm_TriggerAdvancedIcon {
      fill: $color-map-search-icon-hover;
    }
  }
}

// ---------------- mp-MapSearchForm_TriggerAdvancedIcon ---------------- //

.mp-MapSearchForm_TriggerAdvancedIcon {
  fill: $color-map-search-icon;
  transition: fill 0.3s ease;
}

// ---------------- mp-MapSearchForm_Fulltext ---------------- //

.mp-MapSearchForm_Fulltext {
  // position: absolute;
  // z-index: 5;
  // width: 100%;
  padding: $spacing-unit-tiny;
  padding-left: $spacing-unit-large;
  // transition: all 0.6s ease;
}

// ---------------- mp-MapSearchForm_Form ---------------- //

.mp-MapSearchForm_Form {
}

// ---------------- mp-MapSearchForm_Field ---------------- //

.mp-MapSearchForm_Field {
  position: relative;
  display: flex;
  flex-flow: column;
}

// ---------------- mp-MapSearchForm_Label ---------------- //

.mp-MapSearchForm_Label {
  @include font-size(15px, $modifier: -1);
  color: $color-map-search-label;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;

  &.js-FormLabel {
    transition: transform 0.3s ease;
    transform: translateY((16/15) * 1rem);

    &.is-Focused {
      color: $color-map-search-label-isFocus;
      transform: translateY(0);
    }
  }
}

// ---------------- mp-MapSearchForm_Input ---------------- //

.mp-MapSearchForm_Input {
  border: none;
  border-bottom: 1px solid $color-map-search-label;
  background-color: $color-map-search-bg;

  &:focus {
    border-bottom-color: $color-map-search-label-isFocus;
  }
}

// ---------------- mp-MapSearchForm_Message ---------------- //

// Cet élément est relatif au conteneur Field //
.mp-MapSearchForm_Message {
  position: absolute;
  top: 100%;
  width: 100%;
  padding: $spacing-unit-tiny;
  background-color: $color-map-search-bg;
  color: $color-map-search-label-isFocus;
  box-shadow: 0 0 0.5rem rgba($color-black, 0.5);

  &-Info {
  }
}

// ---------------- .mp-MapSearchForm_MessageLabel ---------------- //

.mp-MapSearchForm_MessageLabel {
  margin-right: $spacing-unit-tiny;
}

// ---------------- .mp-MapSearchForm_MessageDelete ---------------- //

.mp-MapSearchForm_MessageDelete {
  position: relative;
  width: 1rem;
  height: 1rem;
  border-radius: 1rem;
  background-color: $color-map-search-icon;
  transition: background-color 0.5s ease;

  &::before,
  &::after {
    position: absolute;
    top: (3/16) * 1rem;
    left: (7/16) * 1rem;
    height: (10/16) * 1rem;
    width: (2/16) * 1rem;
    content: "";
    background-color: $color-map-keywords-bg;
    transition: background-color 0.5s ease;
  }

  &::before {
    transform: rotate(45deg);
  }

  &::after {
    transform: rotate(-45deg);
  }

  &:hover {
    background-color: $color-map-search-icon-hover;

    &::before,
    &::after {
      background-color: $color-map-search-icon;
    }
  }
}

// ---------------- mp-MapSearchForm_AutocompleteMenu ---------------- //

.mp-MapSearchForm_AutocompleteMenu {
  &.ui-widget.ui-widget-content {
    font-family: inherit;
    @include font-size(15px, $modifier: -1);
    border-top: 0;
  }
}

// ---------------- .mp-MapSearchForm_AutocompleteMenuItem ---------------- //

.mp-MapSearchForm_AutocompleteMenuItem {
  position: relative;
  padding: ($spacing-unit-tiny / 2) 0 ($spacing-unit-tiny / 2) $spacing-unit;

  &::before {
    position: absolute;
    left: $spacing-unit-tiny;
    top: $spacing-unit-tiny;
    content: "";
    width: 12px;
    height: 12px;
    border-radius: 12px;
    background-color: $color-black;
  }

  &-Geo {
    &::before {
      background-color: $color-gray-200;
    }
  }
  &-Activity {
    &::before {
      background-color: $color-gray-500;
    }
  }
  &-Org {
    &::before {
      background-color: $color-gray-800;
    }
  }
}

// ---------------- .mp-MapSearchForm_AutocompleteMenuLink ---------------- //

.mp-MapSearchForm_AutocompleteMenuLink {
  .ui-menu &.ui-menu-item-wrapper {
    padding: 0;
  }
}

.mp-MapSearch_Advanced {
  position: relative;
  z-index: $zindex-map-search + 1;
  background-color: $color-map-search-bg;
  width: 400px;

  &[aria-hidden="true"] {
    visibility: hidden;
    overflow: hidden;
    height: 0;
    transition-delay: 0.1s;
  }

  &[aria-hidden="false"] {
    visibility: visible;
  }

  &[aria-busy="true"] {
    position: relative;
    visibility: visible;
    overflow: hidden;
    height: 0;
    transition: height 0.6s ease, visibility 0.6s ease;
  }
}

.mp-MapSearch_OptionsList {
  display: flex;
  margin: 0;
  padding: $spacing-unit-tiny $spacing-unit 0 $spacing-unit-small;
  color: $color-gray-800;
  // @include font-size(14px, $modifier: -1);
  // font-weight: bold;
  // text-transform: uppercase;
  // transition: transform 0.4s ease-out;

  &[data-state="isOut"] {
    transform: translate3d(0, -100%, 0);
    // transition-duration: 0.25s;
    // transition-timing-function: ease-in-out;
  }

  &[data-state="isIn"] {
    transform: translate3d(0, 0, 0);
  }
}

.ms-SearchAdvanced_OptionsItem {
  padding: $spacing-unit-tiny 0;
  margin-left: $spacing-unit-small;

  &::before {
    content: "";
    display: inline-block;
    height: 100%;
    width: (2 / 16) * 1rem;
    margin-right: $spacing-unit-small;
    vertical-align: bottom;
    background-color: $color-gray-200;
  }

  &:first-child {
    margin-left: 0;

    &::before {
      display: none;
    }
  }
}

.ms-SearchAdvanced_Option {
  // position: absolute;
  z-index: $zindex-map-search;
  width: 100%;
  background-color: $color-map-search-bg;
  transform: translate3d(0, 0, 0);
  // transition: transform 0.4s ease-in-out;

  &[aria-hidden="true"] {
    // visibility: hidden;
    // overflow: hidden;
    // height: 0;
  }

  &[aria-hidden="false"] {
    visibility: visible;
  }

  &[aria-busy="true"] {
    position: relative;
    overflow: hidden;
    // height: 0;
    // transition: height 0.3s ease, visibility 0.3s ease;
  }
}
