// ========================================
// mp-Keywords
// ========================================

.mp-Keywords {
  @include font-size(14px, $modifier: -1.5);
}

.mp-Keywords_List {
  position: relative;
  margin: $spacing-unit-small 0 0;
}

.mp-Keywords_ListItem {
  display: inline-flex;
  padding: $spacing-unit-tiny;
  margin: $spacing-unit-tiny / 2;
  margin-left: 0;
  box-shadow: 0 0 0.5rem rgba($color-black, 0.5);
  background-color: $color-map-keywords-bg;
  color: $color-form-text;
}

.mp-Keywords_Label {
  margin-right: $spacing-unit-tiny;
}

.mp-Keywords_DeleteKeyword {
  position: relative;
  width: 1rem;
  height: 1rem;
  border-radius: 1rem;
  background-color: $color-map-search-icon;
  transition: background-color 0.5s ease;

  &::before,
  &::after {
    position: absolute;
    top: (3/16) * 1rem;
    left: (7/16) * 1rem;
    height: (10/16) * 1rem;
    width: (2/16) * 1rem;
    content: "";
    background-color: $color-map-keywords-bg;
    transition: background-color 0.5s ease;
  }

  &::before {
    transform: rotate(45deg);
  }

  &::after {
    transform: rotate(-45deg);
  }

  &:hover {
    background-color: $color-map-search-icon-hover;

    &::before,
    &::after {
      background-color: $color-map-search-icon;
    }
  }
}
