// ========================================
// ms-SearchForm
// ========================================

.ms-SearchForm {
}

.ms-SearchForm_Field {
  display: flex;
  flex-flow: column;
}

.ms-SearchForm_Label {
  @include font-size(15px, $modifier: -1);
  color: $color-map-search-label;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;

  &.js-SearchForm_Label {
    transition: transform 0.3s ease;
    transform: translateY((16/15) * 1rem);

    &.is-Focused {
      color: $color-map-search-label-isFocus;
      transform: translateY(0);
    }
  }
}

.ms-SearchForm_Input {
  border: none;
  border-bottom: 1px solid $color-map-search-label;
  background-color: $color-map-search-bg;

  &:focus {
    border-bottom-color: $color-map-search-label-isFocus;
  }
}
