/*=============================================>>>>>
= c-site-header =
===============================================>>>>>*/

$mq-site-header-m: 528px;

.c-site-header {
}

/*----------- c-site-header__inner -----------*/

.c-site-header__inner {
	display: flex;
}

/*----------- c-site-header__name -----------*/

.c-site-header__name {
	display: flex;
	flex: 2;
	padding: $spacing-unit 0;
}

/*----------- c-site-header__home -----------*/

.c-site-header__home {
	display: flex;
	align-items: baseline;
}

/*----------- c-site-header__logo -----------*/

.c-site-header__logo {
	margin-right: 0.5rem;
	@include font-size(28px, false);
	font-weight: bold;
}

/*----------- c-site-header__baseline -----------*/

.c-site-header__baseline {
	display: none;
	@include font-size(18px, false);

	@include mq($mq-site-header-m) {
		display: inline;
	}
}

/*----------- c-site-header__menu-trigger -----------*/

$hamburgerHeight: $hamburger-layer-height * 3 + $hamburger-layer-spacing * 2;
$hamburgerRatio: $hamburger-layer-width / $hamburgerHeight;

.c-site-header__menu-trigger {
	flex: 0;

	& .hamburger-box,
	& .hamburger-inner,
	& .hamburger-inner::before,
	& .hamburger-inner::after {
		width: 30px;
	}

	& .hamburger-box {
		height: ceil(30px / $hamburgerRatio);
	}

	& .hamburger-inner,
	& .hamburger-inner::before,
	& .hamburger-inner::after {
		height: ceil($hamburger-layer-height / $hamburgerRatio);
	}
	& .hamburger-inner::before {
		top: ceil(
			(($hamburger-layer-spacing + $hamburger-layer-height) * -1) /
				$hamburgerRatio
		);
	}

	& .hamburger-inner::after {
		bottom: ceil(
			(($hamburger-layer-spacing + $hamburger-layer-height) * -1) /
				$hamburgerRatio
		);
	}
}
