/*=============================================>>>>>
= c-site =
===============================================>>>>>*/

.c-site {
	padding-top: $spacing-unit-huge;
	font-family: $font-text;

	&.is-locked {
		overflow: hidden;
	}
}

/*----------- c-site__header -----------*/

.c-site__header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: $zindex-header;
	transition: transform 1s ease 0.05s, opacity 1s ease 0.05s;

	.js & {
		transform: translateY(-90px);
		opacity: 0;

		&.is-visible {
			opacity: 1;
			transform: translateY(0);
		}
	}
}
