// ========================================
// st-SiteHeader
// ========================================

$mq-siteHeader-m: 528px;

.st-SiteHeader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: $zindex-header;
  background-color: $color-white-page;
  box-shadow: 0 0.125rem 0.3125rem rgba($color-black, 0.26);
  transition: transform 0.5s ease 0.5s, opacity 0.5s ease 0.5s;

  .js & {
    transform: translateY(-100%);
    opacity: 0;

    &.is-visible {
      opacity: 1;
      transform: none;
    }
  }
}

// ---------------- st-SiteHeader_Inner ---------------- //

.st-SiteHeader_Inner {
  display: flex;
}

// ---------------- st-SiteHeader_Identity ---------------- //

.st-SiteHeader_Identity {
  display: flex;
  flex: 2;
  padding: $spacing-unit-small 0;
}

// ---------------- st-SiteHeader_Home ---------------- //

.st-SiteHeader_Home {
  display: flex;
  align-items: baseline;
}

// ---------------- st-SiteHeader_Logo ---------------- //

.st-SiteHeader_Logo {
  margin-right: 0.5rem;
  @include font-size(28px, false);
  font-weight: bold;
}

// ---------------- st-SiteHeader_Baseline ---------------- //

.st-SiteHeader_Baseline {
  display: none;
  @include font-size(18px, false);

  @include mq($mq-siteHeader-m) {
    display: inline;
  }
}
