/*=============================================>>>>>
= colors =
===============================================>>>>>*/

$color-black: hsl(0, 0%, 0%);
$color-white: hsl(0, 100%, 100%);
$color-orange: hsl(30, 100%, 50%);

// White
$color-white-page: hsl(0, 0%, 98%);

// Gray
$color-gray-100: hsl(0, 0, 90%);
$color-gray-200: hsl(0, 0, 80%);

// Green
$color-green: hsl(79, 45%, 43%); //#81a03d
$color-green-dark: hsl(80, 38%, 36%); //#687f39

// Orange
$color-orange-100: hsla(30, 21%, 82%, 1);

// Theme
$color-loading-page: $color-orange;
