// ========================================
// Couleurs
// ========================================

//
// ***** Définitions chromatiques générales **********
//

$color-black: hsl(0, 0%, 0%);
$color-white: hsl(0, 100%, 100%);
$color-orange: hsl(30, 100%, 50%);

// Gray
$color-gray-100: hsla(210, 17%, 98%, 1);
$color-gray-200: hsla(207, 22%, 90%, 1);
$color-gray-300: hsla(210, 24%, 87%, 1);
$color-gray-400: hsla(208, 17%, 83%, 1);
$color-gray-500: hsla(209, 24%, 74%, 1);
$color-gray-600: hsla(215, 17%, 63%, 1);
$color-gray-700: hsla(214, 11%, 49%, 1);
$color-gray-800: hsla(215, 17%, 30%, 1);
$color-gray-900: hsla(215, 23%, 16%, 1);

// Green
$color-green: hsl(79, 45%, 43%); //#81a03d
$color-green-dark: hsl(80, 38%, 36%); //#687f39

// Orange
$color-orange-100: hsla(30, 21%, 82%, 1);

//
// **** Définitions chromatiques du site *************
//

$color-loading-page: $color-gray-500;
$color-white-page: hsl(0, 0%, 98%);

// **** Map-Search
$color-map-search-bg: $color-gray-100;
$color-map-search-label: $color-gray-600;
$color-map-search-label-isFocus: scale-color(
  $color-map-search-label,
  $lightness: -30%
);
$color-map-search-input-isFocus: $color-map-search-label-isFocus;
$color-map-search-icon: $color-map-search-label;
$color-map-search-icon-hover: $color-map-search-label-isFocus;
$color-map-search-separateur: $color-gray-300;

// **** Map-Keywords
$color-map-keywords-bg: $color-map-search-bg;
$color-map-keywords-label: $color-map-search-label-isFocus;

// **** Map-Tabs
$color-map-tab-header: scale-color($color-map-search-label, $lightness: 30%);
$color-map-tab-header-hover: $color-map-search-label-isFocus;
$color-map-tab-header-active: $color-map-search-label-isFocus;

// **** Map-Category
$color-map-category: $color-map-search-label;
$color-map-cateogry-hover: $color-map-search-label-isFocus;

// **** Map-Scroll
$color-map-scrollbar: $color-gray-200;
$color-map-scrollbarfill: $color-map-search-label-isFocus;
