// ========================================
// Couleurs
// ========================================

//
// ***** Définitions chromatiques générales **********
//

$color-black: hsl(0, 0%, 0%);
$color-white: hsl(0, 100%, 100%);
$color-orange: hsl(30, 100%, 50%);

// Gray
$color-gray-100: hsla(210, 17%, 98%, 1);
$color-gray-200: hsla(207, 22%, 90%, 1);
$color-gray-300: hsla(210, 24%, 87%, 1);
$color-gray-400: hsla(208, 17%, 83%, 1);
$color-gray-500: hsla(209, 24%, 74%, 1);
$color-gray-600: hsla(215, 17%, 63%, 1);
$color-gray-700: hsla(214, 11%, 49%, 1);
$color-gray-800: hsla(215, 17%, 30%, 1);
$color-gray-900: hsla(215, 23%, 16%, 1);

// Green
$color-green: hsl(79, 45%, 43%); //#81a03d
$color-green-dark: hsl(80, 38%, 36%); //#687f39

// Orange
$color-orange-100: hsla(30, 21%, 82%, 1);

//
// **** Définitions chromatiques du site *************
//

$color-loading-page: $color-gray-500;
$color-white-page: hsl(0, 0%, 98%);

// **** Map-Search
$color-map-search-bg: $color-gray-400;
$color-map-search-bg-dark: $color-gray-700;
$color-map-search-bg-darker: $color-gray-900;
$color-map-search-label: scale-color($color-map-search-bg, $lightness: -40%);
$color-map-search-label-isFocus: $color-gray-100;
$color-map-keywords-bg: $color-map-search-bg;
$color-map-keywords-label: $color-gray-100;
$color-map-search-icon: scale-color($color-map-search-bg, $lightness: -50%);
$color-map-search-icon-hover: $color-gray-200;

// Formulaire recherche carte et éléments associés //
$color-bg-form-carte: lighten($color-gray-800, 10%);
$color-form-text: $color-gray-100;
$color-form-carte: $color-gray-800;
$color-hover-form-carte-color: lighten($color-gray-800, 5%);
