/*=============================================>>>>>
= SETTINGS GLOBAL =
===============================================>>>>>*/

/*----------- Variables Inuitcss -----------*/

$inuit-wrapper-width: 1200px;


/*----------- Variable A2TA -----------*/

	/* Fonts */
	$font-text: 'barlow', sans-serif;
	$font-heading: 'barlow', sans-serif;
	$font-monospace: monospace;

	/* z-index */
	$zindex-spip-admin-float: 200;
	$zindex-header: 100;
	$zindex-loading-page: 150;
	$zindex-map: 50;
